.themesong {
  border: none;
  width: 100%;
  height: 500px;
}

.themesongWrapper {
  width: 100%;
}

.logo {
  background-image: url(logo.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  height: 317px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .themesong {
    height: 700px;
  }
  .themesongWrapper {
    width: 700px;
    margin: 0 auto;
  }
  .logo {
    width: 700px;
    height: 694px;
    margin: 0 auto;
  }
}
