wide = "screen and (min-width: 700px)"

.match
    display: block
    margin: 40px auto
    padding: 10px

    @media wide
        width: 700px
        &:after
            visibility: hidden
            display: block
            font-size: 0
            content: " "
            clear: both
            height: 0
        .team
            box-sizing: border-box
            float: left
            width: 350px


.match__title
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: block;


.match__title__id
    font-size: 14px;
    padding-left: 10px;
    color: #888;

