wide = "screen and (min-width: 700px)"


.match
    display: block
    margin: 10px auto
    padding: 20px 10px 10px 10px
    border-top: 1px solid #ccc

    .date-header + &
        border-top: none
        padding-top: 10px


    @media wide
        width: 700px

        &:after
            clear: both
            content: " "
            display: block
            font-size: 0
            height: 0
            visibility: hidden

        .team
            box-sizing: border-box
            float: left
            width: 350px


.match__title
    display: block
    font-weight: 400
    margin: 0
    padding: 0


.match__title__id
    color: #888
    display: none
    font-size: 14px
