.team--winning .team__name
    color: #27ae60


.team__name
    font-weight: 300
    font-size: 18px
    display: block
    margin-bottom: 10px


.team__name__winning
    padding-left: 10px


.team__players
    list-style: none
    margin: 0
    padding: 0
    line-height: 1.4em
