.videoblog__title {
    padding: 20px 0 20px 0;
    text-align: center;
}

.videoblog__post {
    display: block;
    height: 155px;
    margin: 20px 0;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .videoblog__post {
        height: 315px;
        margin: 20px auto;
        width: 700px;
    }
}
